option_settings:
    aws:elasticbeanstalk:container:nodejs:
        NodeCommand: "npm start"
Resources:
    Files:
        Type: AWS::DynamoDB::Table
        Properties:
            AttributeDefinitions:
                -
                    AttributeName: "File"
                    AttributeType: "S"
                -
                    AttributeName: "WindowName"
                    AttributeType: "S"
            KeySchema:
                -
                    AttributeName: "File"
                    KeyType: "HASH"
                -
                    AttributeName: "WindowName"
                    KeyType: "RANGE"
            ProvisionedThroughput:
                ReadCapacityUnits: "1"
                WriteCapacityUnits: "1"
    Windows:
        Type: AWS::DynamoDB::Table
        Properties:
            AttributeDefinitions:
                -
                    AttributeName: "WindowName"
                    AttributeType: "S"
            KeySchema:
                -
                    AttributeName: "WindowName"
                    KeyType: "HASH"
            ProvisionedThroughput:
                ReadCapacityUnits: "1"
                WriteCapacityUnits: "1"
    Permissions:
        Type: AWS::DynamoDB::Table
        Properties:
            AttributeDefinitions:
                -
                    AttributeName: "Window"
                    AttributeType: "S"
                -
                    AttributeName: "User"
                    AttributeType: "S"
            KeySchema:
                -
                    AttributeName: "Window"
                    KeyType: "HASH"
                -
                    AttributeName: "User"
                    KeyType: "RANGE"
            ProvisionedThroughput:
                ReadCapacityUnits: "1"
                WriteCapacityUnits: "1"
    Bucket:
        Type: AWS::S3::Bucket
    CognitoPool:
        Type: AWS::Cognito::UserPool
        Properties:
            AutoVerifiedAttributes:
                -
                    "email"
            EmailVerificationMessage: "Here is your code: {####} =)"
            EmailVerificationSubject: "Verify your E-Mail for VirtualDesktop"
            Policies:
                PasswordPolicy:
                    MinimumLength: "6"
                    RequireLowercase: false
                    RequireNumbers: false
                    RequireSymbols: false
                    RequireUppercase: false
    CognitoClient:   
        Type: AWS::Cognito::UserPoolClient
        Properties:
            GenerateSecret: false
            UserPoolId: '`{"Ref" : "CognitoPool"}`'