option_settings:
  aws:elasticbeanstalk:application:environment:
    AWS_ACCESS_KEY_ID: 'XXX'
    AWS_SECRET_ACCESS_KEY: 'XXX'
    BUCKET: '`{"Ref" : "Bucket"}`'
    WINDOWS: '`{"Ref" : "Windows"}`'
    FILES: '`{"Ref" : "Files"}`'
    PERMISSIONS: '`{"Ref" : "Permissions"}`'
    COGNITO_POOL: '`{"Ref" : "CognitoPool"}`'
    COGNITO_CLIENT: '`{"Ref" : "CognitoClient"}`'