option_settings:
    aws:elasticbeanstalk:container:nodejs:
        NodeCommand: "npm start"
Resources:
    WindowContent:
        Type: AWS::DynamoDB::Table
        Properties:
            AttributeDefinitions:
                -
                    AttributeName: "File"
                    AttributeType: "S"
            KeySchema:
                -
                    AttributeName: "File"
                    KeyType: "HASH"
            ProvisionedThroughput:
                ReadCapacityUnits: "1"
                WriteCapacityUnits: "1"
    Window:
        Type: AWS::DynamoDB::Table
        Properties:
            AttributeDefinitions:
                -
                    AttributeName: "Window"
                    AttributeType: "S"
            KeySchema:
                -
                    AttributeName: "Window"
                    KeyType: "HASH"
            ProvisionedThroughput:
                ReadCapacityUnits: "1"
                WriteCapacityUnits: "1"
    Bucket:
        Type: AWS::S3::Bucket